# Dart/Flutter related files
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android related files
android/.gradle/
android/app/build/

# iOS/macOS related files
ios/Pods/
ios/Flutter/Flutter.framework
macos/Flutter/Flutter.framework

# IDE specific files
.idea/
.vscode/

# Misc
*.log
*.lock
.DS_Store
.env
